/* styles.css */
body {
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    animation: floatContainer 4s ease-in-out infinite; 
}

h1 {
    color: #00796b;
    font-size: 2em;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

h1:hover {
    transform: scale(1.1);
}

.file-label {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    color: #00796b;
    font-size: 1.2em;
    transition: transform 0.3s, color 0.3s;
    text-decoration: none; /* 下線を消す */
}

.file-label:hover {
    transform: scale(1.1);
    color: #004d40;
    text-decoration: none; /* ホバー時の下線も消す */
}

#videoFile {
    display: none;
}

.video-player {
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block;
    transition: transform 0.3s;
    cursor: pointer;
}

.video-player:hover {
    transform: scale(1.1);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes floatContainer {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
